titanium.platform=[APPLICATION SUPPORT PATH]Titanium/mobilesdk/osx/6.0.0.GA/android/
android.platform=[ANDROID SDK PATH]/platforms/android-21
google.apis=[ANDROID SDK PATH]/add-ons/addon-google_apis-google-21
android.ndk=[ANDROID NDK PATH]android-ndk-r10d